<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="404">
  <meta name="keywords" content="404">

  <title>404</title>

  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="/static/css/404.css">

  <!-- Favicons -->
  <link rel="icon" href="/static/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/img/favicon/site.webmanifest">
</head>

<body>
  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404"></div>
      <h1>404</h1>
      <h2>Oops! Page Not Found</h2>
      <p>Sorry but the page you are looking for does not exists, have been removed, name changed or is temporarily
        unavailable</p>
      <a href="/">
        <- Back to homepage</a>
    </div>
  </div>
  <script async src="/static/js/my-js-404.js"></script>
  <script async src="/static/js/404.js"></script>

  <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</body>

</html>