<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Projects</title>
  <meta content="On this page I have listed my project work on different issues that I have completed."
    name="description">
  <meta content="Dr Gaurav Loahar Projects" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="/static/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/img/favicon/site.webmanifest">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">


  <!--My added stuff-->
  <link rel="stylesheet" href="/static/css/my-css-projects.css">
  <!-- Academicicons -->
  <link rel="stylesheet" href="/static/vendor/academicons/css/academicons.min.css">
  <!-- My stuff ended -->

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/img/profile-img.jpg" alt="profile" class="profile-img img-fluid rounded-circle">
        <h1 class="text-light"><a href="/">Dr. Gaurav Lohar</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/gauravlohar88" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/gaurav.lohar2" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.linkedin.com/in/gaurav-lohar-885b5671/" class="linkedin"><i
              class="bx bxl-linkedin"></i></a>
          <a href="https://scholar.google.co.in/citations?user=JvcR34UAAAAJ&hl=en" class="google"><i
              class="ai ai-google-scholar"></i></a>
          <a href="https://www.researchgate.net/profile/Gaurav_Lohar3/experience"><i class="ai ai-researchgate"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <!-- .nav-menu -->
        <ul>
          <li><a href="/"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li class="active"><a href="/#projectsandpatents"><i class="bx bx-file-blank"></i> <span>Projects &
                Patents</span></a></li>
          <li><a href="/#publications"><i class="bx bx-file-blank"></i> <span>Publications</span></a></li>
          <li><a href="/#awards"><i class="bx bx-award"></i> <span>Awards</span></a></li>
          <li><a href="/#conferences"><i class="bx bx-file-blank"></i> <span>Conferences</span></a></li>
          <li><a href="/#collaborations"><i class="bx bx-file-blank"></i> <span>Collaborations</span></a></li>
          <li><a href="/#blog"><i class="bx bx-pen"></i> Blog</a></li>
          <li><a href="/#contact"><i class="bx bx-envelope"></i> Contact</a></li>
        </ul>
      </nav><!-- .nav-menu end -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Projects</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Projects</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            {% for prj in prj%}
            <figure>
              <img src="{{prj.imagelink}}" class="img-fluid" alt="img">
              <figcaption class="figcap">{{prj.title}}</figcaption>
            </figure>
            {%endfor%}
          </div>
          <div class="portfolio-info">
            <h3>Projects information</h3>
            <ul>
              <li><strong>Category</strong>: Projects</li>
              <li><strong>Guide</strong>: Dr Gaurav Lohar</li>
              <li><strong>Project Type</strong>: Material Science</li>
              <li><strong>Project By</strong>: <a href="/#groupmembers">Group Members</a></li>
            </ul>
          </div>
        </div>
        <div class="portfolio-description">
          <h2>Project Details :</h2>
          <p>
            I have provided some details about my projects here. Also, corresponding images are present above.
          </p>
          {% for prj in prj%}
          <section class="section-bg px-5">
            <h4 class="featurette-heading">{{prj.title}} <br>
              <span class="text-muted">{{prj.subtitle}}</span>
            </h4>
            <p class="lead">{{prj.para1}}</p>
            <div class="row project-lines">
              <ul>
                <li class="py-2"> {{prj.line1}} </li>
                <li class="py-2"> {{prj.line2}} </li>
                <li class="py-2"> {{prj.line3}} </li>
                <li class="py-2"> {{prj.line4}} </li>
              </ul>
            </div>
            <p class="lead">{{prj.para2}}</p>
          </section>
          {%endfor%}

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Dr Lohar Website</span></strong>
      </div>
      <div>
        <!--Developed by <a href="mailto:sawantprasad121@gmail.com" class="text-info">Prasad</a>-->
        Developed by
        <a href="mailto:sawantprasad121@gmail.com" class="text-info" data-bs-toggle="tooltip" data-bs-placement="top"
          title="sawantprasad121@gmail.com">
          Prasad
        </a>
        &
        <a href="https://bootstrapmade.com" class="text-info">Bootstrapmade</a>
      </div>
    </div>
  </footer>
  <!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/static/vendor/counterup/counterup.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/venobox/venobox.min.js"></script>
  <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/vendor/typed.js/typed.min.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>